name: Build and push Docker image
permissions:
  contents: write
on:
  workflow_dispatch:
    inputs:
      version:
        description: "Release version or tag"
        required: true
jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Build and push Docker image
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          build-args: |
            VERSION=${{ github.event.inputs.version }}
            JAVA_VERSION=25-jre
          cache-from: type=gha
          cache-to: type=gha,mode=max
          tags: |
            aspruyt/bedrockconnect:latest
            aspruyt/bedrockconnect:${{ github.event.inputs.version }}
            aspruyt/bedrockconnect:${{ github.event.inputs.version }}-jre25
      - name: Build and push Docker image
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          build-args: |
            VERSION=${{ github.event.inputs.version }}
            JAVA_VERSION=17-jre
          cache-from: type=gha
          cache-to: type=gha,mode=max
          tags: |
            aspruyt/bedrockconnect:${{ github.event.inputs.version }}-jre17
      - name: Create GitHub Release
        uses: softprops/action-gh-release@v2
        with:
          tag_name: "${{ github.event.inputs.version }}"
          name: "${{ github.event.inputs.version }}"
          draft: false
          prerelease: false
